# Ignore Visual Studio Code files
.vscode/

# Ignore build output directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore environment-specific configuration files but keep the base appsettings.json
health-api/appsettings.*.json
!health-api/appsettings.json

# Ignore log files
*.log

# Ignore NuGet packages
*.nupkg
packages/

# Ignore temporary files
*.tmp
*.temp

# Ignore test results
TestResults/

# Ignore publish output
publish/

# Ignore filelist.txt
filelist.txt